<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-collapse">
      <a class="navbar-brand" href="/maps">Maps</a>
      <div>
        <% if (typeof username !== "undefined" ) { %>
        <span id="logged-in" class="navbar-text"
          >Logged in as <%= username %></span
        >
        <form method="POST" action="/logout">
          <button type="submit" class="btn btn-light mr-2 btn-logout">
            Log out
          </button>
        </form>
        <% } else { %>
        <form method="GET" action="/login">
          <button
            id="login-btn"
            type="submit"
            class="btn btn-light mr-2 btn-login"
          >
            Log in
          </button>
        </form>
        <form method="GET" action="/register">
          <button
            id="register-btn"
            type="submit"
            class="btn btn-light mr-2 btn-register"
          >
            Register
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
