<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/maps.js"></script>
</head>

<body>
  <h1>mapstack</h1>
  <!-- get route to render "/maps"-->
  <form method="GET" action="/maps">
    <button type="submit">Ondelé -> maps</button>
  </form>

  <!-- get route to render "/login"-->
  <form method="GET" action="/login">
		<button type="submit">Login</button>
	</form>

   <!-- get route to render "/register"-->
   <form method="GET" action="/register">
		<button type="submit">register</button>
	</form>
</body>

</html>