<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/errors.css" />


    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/login.js" defer></script>
    <!-- <script defer src=""></script> -->
</head>

<body class="login-body">

	<article class="login-form">
		<form method="POST" action="/login">
			<% if (error) { %>
				<p class="error-message"><%= error %></p>
		<% } %>
			<input type="text" name="username" placeholder="Username" id="username">
			<input type="password" name="password" placeholder="Password" id="password">
			<button type="submit" class="login-btn-sign-in">Sign in</button>
		</form>
	</article>

</body>

</html>
