<!DOCTYPE html>
<html lang="en">

<head>
	<title>register</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
	<link rel="stylesheet" href="/vendor/border-box.css" />
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/layout.css" />
	<link rel="stylesheet" href="/styles/register.css" />

	<script src="/vendor/jquery-3.0.0.js"></script>
	<!-- <script defer src=""></script> -->
</head>

<body>

	<div class="container">
		<input type="email" name="email" placeholder="Enter your email" id="email">
		<input type="password" name="password" placeholder="Enter your password" id="password">
		<button type="submit" class="btn-register">register</button>
	</div>
</body>

</html>