.error-message {
	display: flex;
	align-items: flex-start;
	background-color: lightpink;
	border: 1px solid red;
	width: 50%;
	color: red;
	margin-left: 7vw;
	padding: 0.2em;


  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#no-name-error {
  margin-bottom: 0.5em;
  width: 12rem;
  text-align: center;
  color: red;
  border: 1px solid red;
  background-color: lightpink;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}