$font-telex: 'Telex', serif;

.container {
	display: flex;
	justify-content: center;
	background-color: lightblue;
	border-radius: 3%;
	width: 30vw;
	height: 25vw;
}
.container
#username,
#password {
	display: flex;
	justify-content: center;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	margin: 0.7em;
	padding: .3em;
	font-family: $font-telex;
	font-size: 1.3em;
	padding: 0.3em;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	width: 25vw;
}

:hover {
	color: white;
}

.btn-sign-in {
	display: flex;
	justify-content: center;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	font-family: $font-telex;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	width: 15vw;
	font-size: 1.1em;
	padding: 0.4em;
	margin-top: 2em;

	&:hover {
		background-color: white;
		color: black;
		cursor: pointer;
	}
}

.error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightpink;
	border: 1px solid red;
	color: white;
}