$font-telex: "Telex", serif;

.login-body .login-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: lightblue;
  border-radius: 3%;
  width: 30vw;
  height: 25vw;
}

#username,
#password {
  display: flex;
  justify-content: center;
  width: 20vw;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 1.8em;
  padding: 0.3em;
  font-family: $font-telex;
  font-size: 1.3em;
  padding: 0.3em;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  width: 25vw;
}

:hover {
  color: white;
}

.login-btn-sign-in {
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-family: $font-telex;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  padding: 0.4em;
  width: 15vw;
  font-size: 1.1em;
  margin: 3em;
  margin-left: 7vw;

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}