body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

i {
  margin-right: 10px;
}

#maplist-container {
  position: absolute;
  top: 10%;
  left: 1%;
  z-index: 9999;
  padding-right: 40px;
}

#maps-list {
  opacity: 50%;
  list-style: none;
}

#maps-list li {
  margin: 10px;
}

#maplist-container:hover #maps-list {
  cursor: pointer;
  opacity: 100%;
}

#maplist-container:hover {
  background-color: white;
}

// #maplist-container:hover #maps-list {
//   visibility: visible;
//   background-color: white;
// }

#point-form {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: absolute;
  border: solid black 2px;
  border-radius: 5%;
  background-color: blue;
  padding: 10px;
}

#point-form.hidden {
  display: none;
}
