
<<<<<<< HEAD
	.map-list {
		background-color: lightblue;
		margin-top: 10em;
	}

	.favourites {
		background-color: lightblue;
		margin-top: 10em;
	}

	.contributed {
		background-color: lightblue;
		margin-top: 10em;
	}
}

#spacer {
  height: 5vh;
}
=======
.map-list,
.favourites,
.contributed {
	background-color: lightblue;
}
>>>>>>> 1d034a64b3aa932a5111d6bde3dbd82a63600ca4
